@use "../abstracts" as *;
@use "sass:color";

.professionalSummary {
    background: color.adjust($colorFooterBg, $lightness: 3%);

    .row {
        align-items: center;
    }

    .vedant {
        border-radius: 1.6rem;
        overflow: hidden;
        box-shadow: $boxShadow;
    }
}

.aboutSection {
    .btnWrapper {
        a {
            @include btnDark();
        }
    }
}